<header>
   <section class="loader">
    <div class="centered">
      <img class="banner-logo" src="img/saad-logo-header.svg">
    </div>
  </section>

  <nav id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <section class="overlay-content" style="text-align: center;">
      <div style="display: inline-block; text-align: left; margin-top: -30px;">
        <a href="better1.html">Better123123123</a>
        <a href="appravo.html">Appravo</a>
        <a href="mission66.html">Mission 66</a>
        <a href="AjzalBenaa.html">Ajzal Benaa</a>
        <a href="scAgentBlue.html">ScoreCarts Agent Blue</a>
        <a href="sneakerMaps.html">Sneaker Maps</a>
        <a href="jobso.html">Jobso</a>
        <a href="digiid.html">DigiID</a>
        <a href="jobsoPPA.html">Jobso ppa</a>
        <a href="beMyCourier.html">Be My Courier</a>
        <a href="allureDesign.html">Allure Design</a>
        <a href="directTap.html">Direct Tap</a>
        <a href="warfareChat.html">Warfare Chat</a>
        
        <br><br><br>
      </div>
    </section>
  </nav>
</header>